h1 {
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    padding: 30px;
}

header {
    color: #FFF;
    text-align: center;
    background-color: #000;
    font-size: 30px;
}


.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: right;
}

li a {
    display: block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: medium;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.logo {
    float: left;
    font-size: 30px;
    padding: 0px 16px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px;
}

footer {
    text-align: center;
    background-color: black;
    color: aliceblue;
}


.twitter-tweet {
    text-align: center;
}