/*tags*/
/*sections*/
body {
    display: flex;
    flex-direction: column;
}

header {
    height: auto;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
    background-color: bisque;
}

footer {
    background-color: black;
    color: white;
}

/*elements within sections*/
h2 {    
    text-align: center;
    text-decoration: underline;
}

    footer a {
    color: white;
    text-decoration: dotted;
}

header ul {
    margin: 0;
    padding: 6px;
    overflow: hidden;
    background-color: #333;
}

li a {
    padding: 8px;
    color: aliceblue;
    padding: 14px 16px;
    text-decoration: none;
}


/*Table*/
table {
    width: 100%;
    border-collapse:collapse;
}

tr {
    border-bottom: 1px solid #ddd;
}

td {
    padding: 5px;
}

th {
    text-align: left;
    background-color: bisque;
    color: #000;
    padding: 5px;
    font-weight: bold;
}

/*Classes*/
/*from the header design*/
ul .active {
    background-color: #04AA6D;
}

.inline-color {
    color: #04AA6D;
}
/*Pseudo Classes*/
/*From the table css*/
tr:nth-child(odd) {
    background-color: #555;
    color: #FFF;
}

/*IDs*/